In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
df = pd.read_excel('One to One List.xlsx')
df2 = pd.read_excel('SF - Contacts.xlsx')

# SF Contact List

In [8]:
df2 = df2[['Name','Website','Description']]

In [25]:
#df2['Website'].replace({'http://www.':''}, regex=True)
df2['Domain'] = df2['Website'].replace(['http://','https://','www.','/'], '', regex=True).dropna()

In [32]:
df2 = df2.dropna(subset = 'Website')

In [54]:
df2 = df2[['Domain','Description']]
df2

                Domain                                        Description
0      superleague.com  Fiber directly out front  Purchased Mobcrush J...
2       warnerbros.com  Owned by AT&T  WB has its own DAS  Verizon for...
3         portal-a.com  Content Provider  FIBER IN BUILDING  HQ is in ...
4          pgecorp.com  No fiber near HQ  Assigned to me  Company uses...
5    versussystems.com  Advertising Company  Fiber - across the street...
..                 ...                                                ...
855     summit-pcb.com  circuit board manufacturer - 154 employees  No...
857   uegworldwide.com     Entertainment agency  Not assigned  FIBER - IN
858       tapcheck.com  Fintech company - 71 employees  Not asigned  F...
859    crunchyroll.com  Sreaming company - 1269 employees  Not asigned...
860       keplerdx.com  Diagnostic company  Not assigned  Fiber - in f...

[840 rows x 2 columns]

# One to One list

In [36]:
df.head()

,First Name,Last Name,Company Name,Title,Phone 1 (Direct #),Phone 2 (Company #),Email,City,State,Industry,Company Website,CRM ID,Follow-up Teleprompt
0,Vicky,Colf,vicky.colf@warnerbros.com,CTO,(714) 717-2885,(818) 977-2766,vicky.colf@warnerbros.com,Burbank,CA,NaN,NaN,NaN,NaN
1,Mika,Smith,mika@portal-a.com,Operations Manager,(916) 705-7199,NaN,mika@portal-a.com,Los Angeles,CA,NaN,NaN,NaN,NaN
2,Alex,Victor,axvz@pge.com,"Sr. Director, Data Center Operations",NaN,(415) 973-0280,axvz@pge.com,San Francisco,CA,NaN,NaN,NaN,NaN
3,Alex,Peachey,alex@versussystems.com,CTO,NaN,(310) 871-5701,alex@versussystems.com,Los Angeles,CA,NaN,NaN,NaN,NaN
4,Connie,Tong-Try,connie@maplemedia.io,Operations Manager,NaN,(424) 335-0406,connie@maplemedia.io,Los Angeles,CA,NaN,NaN,NaN,NaN

In [47]:
df['Domain'] = df['Company Name'].str.split('@').str[1]

In [60]:
df.shape

(2309, 14)

In [69]:
final = pd.merge(df, df2, how='left')

In [71]:
final.shape

(2332, 15)

In [72]:
final.to_excel("Final.xlsx")