In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [34]:
df = pd.read_excel('experiment.xlsx')
group = pd.read_excel('Group2.xlsx')

In [35]:
df['CoStar pull'].value_counts()

Y       383
None     48
Name: CoStar pull, dtype: int64

In [36]:
df2 = df #df is the un-edited experiment.xlsx

In [37]:
df2['Full Address'] = df['Address'] +' '+ df['Zip']

In [38]:
group_list = (group['Address'] +' '+ group['Zip'].map(str)).tolist()

In [39]:
df2['CoStar pull2'] = np.where(df2['Full Address'].isin(group_list), 'Y', None)

In [42]:
df2['CoStar pull'].value_counts()

Y       383
None     48
Name: CoStar pull, dtype: int64

In [48]:
df2['CoStar pull'].fillna('', inplace=True)

In [50]:
df2['CoStar pull2'].fillna('', inplace=True)

In [53]:
(df2['CoStar pull'] + df2['CoStar pull2']).value_counts()

Y       627
        475
None     48
dtype: int64

In [54]:
df

,New Additions,Building Number,Building Status,Building Details,Number,Prefix,Street Name,Type,Suffix,Address,...,CBSA,Lata,CoStar pull,OSC Match,Zoom match,AE Owner,AE owner date,List Distributed?,Full Address,CoStar pull2
0,Y,BLDG105081,ON-NET,Enterprise,12777,NaN,High Bluff,Dr,NaN,12777 High Bluff Dr,...,"San Diego-Carlsbad, CA",732,Y,NaN,NaN,NaN,NaT,NaT,12777 High Bluff Dr 92130,
1,Y,BLDG168311,ON-NET,Enterprise,2001,E,4th,St,NaN,2001 E 4th St,...,"Los Angeles-Long Beach-Anaheim, CA",730,Y,Y,Y,David Ko,2022-05-01,2022-05-01,2001 E 4th St 92705,
2,Y,BLDG150026,ON-NET,Enterprise,2227,NaN,Enterprise,St,NaN,2227 Enterprise St,...,"San Diego-Carlsbad, CA",732,Y,NaN,NaN,NaN,NaT,NaT,2227 Enterprise St 92029,
3,Y,BLDG169091,ON-NET,Enterprise,29315,NaN,Central,Ave,NaN,29315 Central Ave,...,"Riverside-San Bernardino-Ontario, CA",730,Y,NaN,NaN,NaN,NaT,NaT,29315 Central Ave 92532,
4,Y,BLDG167417,ON-NET,Enterprise,300,NaN,Sill,Rd,NaN,300 Sill Rd,...,"Santa Cruz-Watsonville, CA",722,None,NaN,NaN,NaN,NaT,NaT,300 Sill Rd 95076,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,NaN,BLDG131308,ON-NET,Enterprise,99,NaN,Airport,Blvd,NaN,99 Airport Blvd,...,"Santa Cruz-Watsonville, CA",722,,NaN,NaN,NaN,NaT,NaT,99 Airport Blvd 95019,
1146,NaN,BLDG102591,ON-NET,Enterprise,99,NaN,La Cienega,Blvd,NaN,99 La Cienega Blvd,...,"Los Angeles-Long Beach-Anaheim, CA",730,,NaN,NaN,NaN,NaT,NaT,99 La Cienega Blvd 90211,
1147,NaN,BLDG153641,ON-NET,Enterprise,9900,S,Vermont,Ave,NaN,9900 S Vermont Ave,...,"Los Angeles-Long Beach-Anaheim, CA",730,,NaN,NaN,NaN,NaT,NaT,9900 S Vermont Ave 90044,
1148,NaN,BLDG150070,ON-NET,Enterprise,9920,NaN,Freeman,Ave,NaN,9920 Freeman Ave,...,"Los Angeles-Long Beach-Anaheim, CA",730,,NaN,NaN,NaN,NaT,NaT,9920 Freeman Ave 90670,
1149,NaN,BLDG138106,ON-NET,Enterprise,9955,NaN,Carmel Mountain,Rd,NaN,9955 Carmel Mountain Rd,...,"San Diego-Carlsbad, CA",732,,NaN,NaN,NaN,NaT,NaT,9955 Carmel Mountain Rd 92129,

In [55]:
df['CoStar pull'] = df2['CoStar pull'] + df2['CoStar pull2']

In [67]:
df['CoStar pull'].value_counts()

Y       627
        475
None     48
Name: CoStar pull, dtype: int64

In [60]:
df = df.drop(columns = ['CoStar pull2'])

In [65]:
df = df.drop(columns = ['Full Address'])

In [68]:
df.shape

(1150, 25)

In [70]:
df.to_excel("Updated OnNet.xlsx")