In [125]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

__We first create an empty 'master' spreadsheet, which will become our 'Group of 300 Buildings'. The 'df' represents the list of On-Net buildings. RUN THIS ONLY ONCE__

In [126]:
master = pd.DataFrame(columns = ['Company Name','Address','City','State','Zip','Ten_Phone',
                                 'SF Occupied','Location','# Emp','Submarket','Industry Type'])

df = pd.read_excel('experiment.xlsx')

__We make a new column in 'df' that combines the buildings' Address and Zip code into one category called 'Full Address'. This is to avoid the possibility of recording buildings with the same Address name but different zips.__

In [127]:
df['Full Address'] = df['Address'] +' '+ df['Zip']

# Insert Costar Screenshot - RESTART HERE

__Next we want to take our spreadsheet of 500 tenants from Costar and call it 'costar'.__

In [386]:
costar = pd.read_excel('a9.xlsx')
costar = costar.dropna(subset=['Zip'])
costar['Zip'] = costar['Zip'].astype(int)
costar['Address'] +' '+ costar['Zip'].map(str)

0          6555 Barton Ave 90038
1          6555 Barton Ave 90038
2          6555 Barton Ave 90038
3          6555 Barton Ave 90038
4          6555 Barton Ave 90038
                 ...
485    6815 Willoughby Ave 90038
486    6815 Willoughby Ave 90038
487    6815 Willoughby Ave 90038
488    6815 Willoughby Ave 90038
489    6865 Willoughby Ave 90038
Length: 487, dtype: object

# Function Start

__This shows us how large the On-Net data is before we start matching with our Costar screenshot.__

In [387]:
df.shape #started today at 719 buildings remaining

(688, 26)

__Now we will find the buildings on 'costar' that have matching 'Full Address' with the On-Net buildings. If the buildings match, they are copied into a new table called 'match', which will be displayed below. Afterwards, we will attach this table to the 'master' table, where everything is stored.__

In [388]:
df = df[df['CoStar pull'].isnull()]
print(df.shape)
match = costar[(costar['Address'] +' '+ costar['Zip'].map(str)).isin(df['Full Address'])]
master = master.append(match)
print('Tenant data from this region:\n')
match

(684, 26)
Tenant data from this region:

Empty DataFrame
Columns: [Company Name, Address, City, State, Zip, Ten_Phone, SF Occupied, Location, # Emp, Submarket, Industry Type]
Index: []

__Now we will go into our list of On-Net buildings and see which Addresses have already been added to the 'master' table. If it has been added, then we will insert a "Y" into the column called 'CoStar pull'.__

In [389]:
master_list = (master['Address'] +' '+ master['Zip'].map(str)).tolist()
df['CoStar pull'] = np.where(df['Full Address'].isin(master_list), 'Y', None)

C:\Users\melee\AppData\Local\Temp\ipykernel_51796\2869060846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CoStar pull'] = np.where(df['Full Address'].isin(master_list), 'Y', None)

__This lets us see how many of our On-Net buildings were marked with a 'Y'.__

In [390]:
df['CoStar pull'].value_counts()

Series([], Name: CoStar pull, dtype: int64)

__After each Costar screenshot, we can see our resulting 'master' table with all the added matches.__

In [391]:
print(master.shape)
master.tail() #299 tenants 35 buildings

(299, 11)

,Company Name,Address,City,State,Zip,Ten_Phone,SF Occupied,Location,# Emp,Submarket,Industry Type
449,bitMAX,959 Seward St,Los Angeles,CA,90038,(323) 978-7878,4001,Main HQ Corp/LLC,34,Hollywood,Manufacturing
450,Formosa Group,959 Seward St,Los Angeles,CA,90038,(323) 850-2800,4745,Main HQ Corp/LLC,24,Hollywood,"Professional, Scientific, and Technical Services"
451,Kinberg Genre,959 Seward St,Los Angeles,CA,90038,NaN,5194,Single Location Corp/LLC,0,Hollywood,Information
452,"Bogaard Group International, Inc.",959 Seward St,Los Angeles,CA,90038,(213) 314-3044,7500,Main HQ Corp/LLC,30,Hollywood,"Professional, Scientific, and Technical Services"
453,Mainstay Entertainment,959 Seward St,Los Angeles,CA,90038,(310) 860-2880,7500,Single Location Corp/LLC,19,Hollywood,"Professional, Scientific, and Technical Services"

In [703]:
master.to_excel("Group2.xlsx")

In [704]:
df.to_excel("checkpoint_df.xlsx")

__Load saved previous work for On-Net list and master dataframe__

In [572]:
df = pd.read_excel('checkpoint_df.xlsx').drop(columns='Unnamed: 0')
master = pd.read_excel('Group2.xlsx').drop(columns='Unnamed: 0')

__Insert Costar__

In [705]:
costar = pd.read_excel('b28.xlsx')
costar = costar.dropna(subset=['Zip'])
costar['Zip'] = costar['Zip'].astype(int)
costar['Address'] +' '+ costar['Zip'].map(str)

0         1705 E Compton Blvd 90221
1      1210 N Long Beach Blvd 90221
2       623 S Long Beach Blvd 90221
3            321 E Johnson St 90221
4         1710 E Compton Blvd 90221
                   ...
490       911 E Rosecrans Ave 90221
491      1916 E Rosecrans Ave 90221
492    425-477 E Compton Blvd 90221
493          1842 N Bullis Rd 90221
494       1600 E Compton Blvd 90221
Length: 495, dtype: object

In [706]:
print(df.shape) #started today at 684 buildings remaining
df = df[df['CoStar pull'].isnull()]
print(df.shape)

match = costar[(costar['Address'] +' '+ costar['Zip'].map(str)).isin(df['Full Address'])]
master = master.append(match)
print('Tenant data from this region:\n', match.head())

master_list = (master['Address'] +' '+ master['Zip'].map(str)).tolist()
df['CoStar pull'] = np.where(df['Full Address'].isin(master_list), 'Y', None)

print('Number of Buildings: \n', df['CoStar pull'].value_counts())

print('Shape of Master table: \n', master.shape)
master.tail() #1893 tenants

(475, 26)
(475, 26)
Tenant data from this region:
 Empty DataFrame
Columns: [Company Name, Address, City, State, Zip, Ten_Phone, SF Occupied, Location, # Emp, Submarket, Industry Type]
Index: []
Number of Buildings:
 Series([], Name: CoStar pull, dtype: int64)
Shape of Master table:
 (1893, 11)

,Company Name,Address,City,State,Zip,Ten_Phone,SF Occupied,Location,# Emp,Submarket,Industry Type
166,Royal Prestige,9040 Telegraph Rd,Downey,CA,90240,(562) 869-2395,750,Corporate Offic Corp/LLC,5,Southeast Los Angeles,Wholesaler
237,Pacifica Trucks,19067 S Reyes Ave,Rancho Dominguez,CA,90221,NaN,63450,NaN,0,Rancho Dominguez Ind,Transportation and Warehousing
255,Price Transfer Group,2790 E Del Amo Blvd,Compton,CA,90221,(310) 639-6074,92500,Main HQ Corp/LLC,50,Carson Ind,Transportation and Warehousing
261,Reyes Holdings,19067 S Reyes Ave,Rancho Dominguez,CA,90221,NaN,63450,Single Location,0,Rancho Dominguez Ind,Retailer
301,Tricap International LLC,3015 E Ana St,Compton,CA,90221,(310) 605-5089,213544,Warehouse Corp/LLC,0,Rancho Dominguez Ind,"Professional, Scientific, and Technical Services"

a78: 1 buildings, 56 tenants
a79: 2 buildings, 14 tenants 
a80: 3 buildings, 43 tenants 
a81: 2 buildings, 100 tenants 
a82: 3 buildings, 14 tenants 
a83: 4 buildings, 34 tenants 
a85: 1 buildings, 11 tenants 
a87: 1 buildings, 1 tenants 
a88: 3 buildings, 4 tenants 
a89: 2 buildings, 23 tenants 
a90: 2 buildings, 29 tenants 
a91: 3 buildings, 36 tenants 
a93: 4 buildings, 39 tenants 
a96: 6 buildings, 60 tenants 
a98: 1 buildings, 1 tenants 
b2: 2 buildings, 6 tenants
b3: 3 buildings, 23 tenants __43 bldg__
b7: 2 buildings, 32 tenants
b8: 2 buildings, 18 tenants
b9: 2 buildings, 30 tenants
b11: 2 buildings, 19 tenants
b12: 3 buildings, 7 tenants
b13: 2 buildings, 2 tenants
b14: 3 buildings, 25 tenants
b15: 3 buildings, 12 tenants
b17: 1 buildings, 2 tenants
b18: 2 buildings, 8 tenants
b19: 4 buildings, 21 tenants
b20: 1 buildings, 1 tenants
b21: 1 buildings, 8 tenants
b22: 1 buildings, 25 tenants
b23: 3 buildings, 5 tenants
b24: 1 buildings, 8 tenants
b25: 1 buildings, 5 tenants
b26: 2 buildings, 19 tenants
b27: 3 buildings, 4 tenants __39 bldg__
b28: 0 buildings, 0 tenants

## Results
92121f: 4 buildings, 10 tenants
92121g: 1 buildings, 1 tenant
92121h: 4 buildings, 20 tenants
92121j: 3 buildings, 8 tenants
92121j: 3 buildings, 19 tenants
a0: 2 buildings, 2 tenants
a1: 3 buildings, 10 tenants
a2: 1 buildings, 51 tenants
a4: 3 buildings, 20 tenants
a6: 4 buildings, 68 tenants
a8: 3 buildings, 75 tenants
a9: 4 buildings, 15 tenants
a10: 1 buildings, 7 tenants
a11: 3 buildings, 6 tenants
a12: 3 buildings, 11 tenants
a13: 4 buildings, 16 tenants
a14: 4 buildings, 32 tenants
a15: 1 buildings, 6 tenants
a18: 8 buildings, 23 tenants
a19: 1 buildings, 1 tenants
a20: 1 buildings, 41 tenants
a21: 4 buildings, 19 tenants
a23: 2 buildings, 39 tenants
a24: 1 buildings, 21 tenants
a25: 1 buildings, 14 tenants
a26: 1 buildings, 27 tenants
a28: 1 buildings, 1 tenants
a29: 1 buildings, 22 tenants
a30: 3 buildings, 69 tenants
a31: 2 buildings, 69 tenants
a32: 1 buildings, 14 tenants
a33: 2 buildings, 22 tenants
a34: 2 buildings, 16 tenants 
a37: 2 buildings, 7 tenants
a38: 3 buildings, 10 tenants
a39: 4 buildings, 23 tenants
a40: 1 buildings, 2 tenants
a42: 1 buildings, 1 tenants
a43: 4 buildings, 11 tenants
a44: 3 buildings, 16 tenants
a45: 4 buildings, 22 tenants
a46: 7 buildings, 36 tenants
a48: 2 buildings, 8 tenants
a49: 1 buildings, 1 tenants
a50: 1 buildings, 1 tenants
a51: 2 buildings, 3 tenants
a52: 1 buildings, 1 tenants
a54: 2 buildings, 4 tenants
a55: 2 buildings, 4 tenants
a56: 6 buildings, 145 tenants
a57: 4 buildings, 44 tenants
a58: 5 buildings, 7 tenants
a59: 1 buildings, 1 tenants
a60: 1 buildings, 3 tenants
a62: 3 buildings, 22 tenants
a63: 1 buildings, 2 tenants
a65: 2 buildings, 2 tenants
a68: 2 buildings, 14 tenants
a70: 2 buildings, 12 tenants
a71: 1 buildings, 1 tenants
a72: 2 buildings, 22 tenants
a73: 4 buildings, 20 tenants
a74: 5 buildings, 18 tenants        __161 bldg__