In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
master = pd.DataFrame(columns = ['Company Name','Address','City','State','Zip',
                                 'Ten_Phone','SF Occupied','Location','# Emp','Submarket',
                                 'Industry Type','SIC Description'])

df = pd.read_excel('List of NearNet.xlsx')

In [5]:
df['Full Address'] = df['Address'] +' '+ df['City']

In [11]:
df = df.dropna(subset=['Address'])

# Restart here

In [27]:
costar = pd.read_excel('a4.xlsx')
#costar = costar.dropna(subset=['Zip'])
#costar['Zip'] = costar['Zip'].astype(int)
(costar['Address'] +' '+ costar['City'].map(str)).str.upper()

0      30495 CANWOOD ST AGOURA HILLS
1       30300 AGOURA RD AGOURA HILLS
2       30101 AGOURA CT AGOURA HILLS
3       30101 AGOURA CT AGOURA HILLS
4       29439 AGOURA RD AGOURA HILLS
                   ...
492     30200 AGOURA RD AGOURA HILLS
493     29397 AGOURA RD AGOURA HILLS
494     30601 AGOURA RD AGOURA HILLS
495     30300 AGOURA RD AGOURA HILLS
496    30423 CANWOOD ST AGOURA HILLS
Length: 497, dtype: object

In [28]:
df = df[df['CoStar pull'].isnull()]
print(df.shape)
match = costar[((costar['Address'] +' '+ costar['City'].map(str).str.upper())).isin(df['Full Address'])]
master = master.append(match)
print('Tenant data from this region:\n')
match

(4295, 30)
Tenant data from this region:

Empty DataFrame
Columns: [Company Name, Address, City, State, Zip, Ten_Phone, SF Occupied, Location, # Emp, Submarket, Industry Type, SIC Description]
Index: []

In [29]:
master_list = ((master['Address'] +' '+ master['City'].map(str)).str.upper()).tolist()
df['CoStar pull'] = np.where(df['Full Address'].isin(master_list), 'Y', None)
df['CoStar pull'].value_counts()

Series([], Name: CoStar pull, dtype: int64)